<!-- main - a row holds columns -->
<div class=row>
    <div class="col col-xs-12">
  
      <div class="form-group">
        <label for="school_num">School Number</label>
        <input type="school_num" class="form-control" id="school_num" name="school_num" value="<%= course.school_num %>" required>
      </div>
  
      <div class="form-group">
        <label for="course_num">Course Number</label>
        <input type="text" class="form-control" id="course_num" name="course_num" value="<%= course.course_num %>">
      </div>
  
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= course.name %>">
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" value="<%= course.description %>">
      </div>
  
      <div class="form-group">
        <label for="credit_hours">Credit Hours</label>
        <input type="text" class="form-control" id="credit_hours" name="credit_hours" value="<%= course.credit_hours %>">
      </div>
  
      <div class="form-group">
        <label for="inSpring">in Spring?</label>
        <input type="text" class="form-control" id="inSpring" name="inSpring" value="<%= course.inSpring %>">
      </div>
  
      <div class="form-group">
        <label for="inSummer">in Summer?</label>
        <input type="text" class="form-control" id="inSummer" name="inSummer" value="<%= course.inSummer %>">
      </div>
  
      <div class="form-group">
        <label for="inFall">in Fall?</label>
        <input type="text" class="form-control" id="inFall" name="inFall" value="<%= course.inFall %>">
      </div>
    </div>
  </div>
  
  <!-- PUT CLIENT SIDE CODE HERE -->
  <script>
   
    // prevent submission when hitting enter key - optional, but user-friendly 
    document.forms[0].onkeypress = function (e) {
      var key = e.charCode || e.keyCode || 0;
      if (key == 13) {
        e.preventDefault();
      }
    }
  
  // END CLIENT SIDE CODE  (close the script tag)
  </script>